* {
  margin: 0px;
}

#app {
  height: 100vh;
  width: 100vw;
}

.header-container {
  color: white;
  position: absolute;
  top: 0;
  height: 5vh;
  width: 100vw;
  display: inline-block;
}

.header-container-text-left {
  float: left;
  position: relative;
  top: 2vh;
  left: 5vw;
}

.header-container-text-left:hover {
  border-bottom-style: solid;
  border-color: white;
  border-width: 1px;
}

.header-container-text-right {
  float: right;
  position: relative;
  top: 2vh;
  right: 5vw;
}

.header-container-text-right:hover {
  border-bottom-style: solid;
  border-color: white;
  border-width: 1px;
}

.header-container span {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  cursor: pointer;
  transition: 3s;
}

.welcome-container {
  height: 100vh;
  width: 100vw;
}

.welcome-title {
  background-image: url('https://images.unsplash.com/photo-1484041413168-4489d86c022c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1568&q=80');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 90vh;
  width: 100vw;
  text-align: center;
}

.welcome-title-message {
  color: white;
  position: relative;
  top: 25vh;
}

.welcome-title-message h1 {
  font-size: 100px;
  text-shadow: 0px 0px 5px #464646;
}

.welcome-title button {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 20px 75px 20px 75px;
  margin: 5px;
  position: relative;
  top: 30vh;
  font-size: 30px;
  transition: 0.3s;
  cursor: pointer;
}

.welcome-title button:hover {
  background-color: rgba(223, 91, 51, 0.747);
}

.welcome-body-message {
  height: 40vh;
  width: 100vw;
}

.welcome-body-message h1 {
  padding: 3vh 13vw 3vh 13vw;
}

.list-container {
  background-image: url('https://images.unsplash.com/photo-1484041413168-4489d86c022c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1568&q=80');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 20vh;
  width: 100vw;
}